html {
    font-family: sans-serif;
}

#controls {
    width: 1500px;
    height: 100px;
    background-color: yellow;
    border: solid 1px black;
}

#main-container {
    width: 1500px;
    height: 900px;
/*    background-color: gray;*/
    /* float: left; */
}

#food-table-container {
    width: 800px;
    height: 800px;
    /* background-color: red; */
    float: left;
    /* overflow-y: auto;
    overflow-x: auto; */
}



/*Scatterplot*/

#food-scatterplot-container {
    width: 700px;
    height: 800px;
/*    background-color: blue;*/
    float: left;
}

circle {
    fill: #d9d9d9;
    stroke: gray;
    opacity: .8;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-label {
    font-size: 18px;
	text-anchor: middle;
}

.y-label,
.x-label,
.c-label {
    width: 1%7;
    display: inline-block;
    float: left;
    padding-right: 5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    height: 28px;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip h2 {
    margin: auto;
    font: 14px sans-serif;
}

div.dropdown-wrapper {
    display: inline-block;
    margin-left: 75px;
    width: 320px;
    height: 130px;
    padding: 2px;
}

.dropdown {
    float: right;
}




#meal-container {
    width: 1500px;
    height: 500px;
    background-color: green;
    float: none;
}

#table-svg {
    fill: white;
}



/*Food Group Styling*/
.vegetable {
	fill: green;
}

.fruit {
	fill: red;
}

.protein {
	fill: purple;
}

.dairy {
	fill: blue;
}

.grain {
	fill: orange;
}

.dessert {
	fill: pink;
}

.compound {
	fill: brown;
}

.header-line-1 {
    text-transform: capitalize;
    padding: 0px;
    margin: 0px;
}

.header-line-2 {
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}


table {
    position: relative;
    width: 800px;
    background-color: #aaa;
    overflow: hidden;
    border-collapse: collapse;
  }
  
  
  /*thead*/
  thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    width: 800px;
    overflow: visible;
  }
  
  thead th {
    background-color: #99a;
    min-width: 120px;
    height: 32px;
    border: 1px solid #222;
  }

  .header-row {
    background-color: #99a;
    min-width: 120px;
    height: 32px;
    border: 1px solid #222;
  }
  
  thead th:nth-child(1) {/*first cell in the header*/
    position: relative;
    display: block; /*seperates the first cell in the header from the header*/
    background-color: #88b;
    
  }
  
  /*tbody*/
  tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    width: 800px;
    height: 750px;
    overflow: scroll;
  }
  
  tbody th {
    background-color: #bbc;
    min-width: 120px;
    border: 1px solid #222;
  }

  tbody td {
    background-color: #bbc;
    min-width: 120px;
    border: 1px solid #222;
  }

  #food-title-header {
    position: relative;
    display: block; /*seperates the first cell in the header from the header*/
    background-color: #88b;
    /* min-height: 32px; */
    min-width: 120px;
  }

  .food-title-cell {
    position: relative;
    display: block; /*seperates the first column from the tbody*/
    height: auto;
    max-width: 122px;
    background-color: #99a;
  }

