* {
    /* font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'Inconsolata', monospace;
    /* font-family: sans-serif; */
}

#controls {
    width: 1500px;
    height: 150px;
/*    background-color: yellow;*/
/*    border: solid 1px black;*/

  overflow: auto;
}


#main-container {
    width: 1800px;
    height: 900px;
/*    background-color: gray;*/
}

#food-table-container {
    width: 1020px;
    height: 800px;
    /* background-color: red; */
    float: left;
    /* overflow-y: auto;
    overflow-x: auto; */
}



/*Scatterplot*/

#food-scatterplot-container {
    width: 700px;
    height: 800px;
/*    background-color: blue;*/
    float: left;
}

#chart-view {
	margin-top: 125px;
}

circle {
    fill: #d9d9d9;
    stroke: gray;
    opacity: 1;
	stroke-width: 1px;
}

circle.highlighted {
	stroke-width: 3px;
	stroke: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-label {
    font-size: 18px;
	text-anchor: middle;
}

.y-label,
.x-label {
    width: 1%7;
    display: inline-block;
    float: left;
    padding-right: 5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
/*    height: 28px;*/
    padding: 5px;
    background: #B5CDDD;
    stroke: gray;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip span {
    margin: auto;
    font: 20px sans-serif;
    font-weight: bold;
    color: rgb(95, 95, 95);
}

.tooltip div {
	text-align: left;
}

div.dropdown-wrapper {
    display: inline-block;
	float: left;
    margin-left: 75px;
    width: 200px;
/*    height: 130px;*/
	height:80px;
	padding: 2px;
}

.dropdown {
    float: right;
}


#switchDiv {
    display: flex;
	float:right;
	align-items: center;
    padding: 2px;
	margin-right: 75px;
}


/*Switch adapted from https://danklammer.com/articles/simple-css-toggle-switch/*/
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  /* background-color: #2196F3; */
  background-color: #2E4B7C;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "";
  display: block;
  position: absolute;
/*  z-index: 2;*/
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #2196F3;
}

.toggle:checked:before {
  left: 32px;
}


/*Meal Planner*/

#meal-container {
    width: 1500px;
    height: 800px;
    display: flex;
    flex-flow: column nowrap;
/*    background-color: green;*/
    /* float: left; */

}

#mealTitle-div {
	width: 1500px;
	height: 100px;
	font: bold 30px "Roboto";
	text-align: center;
	vertical-align: bottom;
	display: table-cell;
}

#mealContent-div {
    display: flex;
    flex-flow: row nowrap;
	height: 700px;
}

#menu-div {
	width: 500px;
	height: 100%;
/*	    background-color: green;*/
	/* display: inline-block; */
	/* float: left; */
}

/*Designed with https://dabuttonfactory.com/*/
#addFoodButton {
    /* background:    #2196f3; */
    background: #2E4B7C;
	border-radius: 1000px;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal bold 16px/1 "Roboto", sans-serif;
	text-align:    center;
	outline: none;
	margin-left: 15px;
}

li {
    height: 25px;
}

.remove-div {
	/* display: inline-block; */
    /* float: left; */
    padding-right: 10px;
    cursor: pointer;
}

.foodName-div {
	/* display: inline-block; */
	/* float: left; */
}

.servingInput {
	/* display: inline-block; */
	/* float: left; */
}


#price-div {
	width: 300px;
	height: 100%;
	    background-color: red;
	/* display: inline-block;
	float: left; */


}

#bar-div {
	width: 700px;
	height: 100%;
/*	    background-color: royalblue;*/
	/* display: inline-block;
	float: left; */


}

.barHighlighted {
	fill: lightgreen;
}

/*Table*/

#table-svg {
    fill: white;
}

/*Food Group Colors*/
.vegetable {
    fill: #5DA043;
    color: #5DA043;
}

.fruit {
    fill: #CC434E;
    color: #CC434E;
}

.protein {
    fill: #552968;
    color: #552968;
}

.dairy {
    fill: #08B2E3;
    color: #08B2E3;
}

.grain {
    fill: #E26C2D;
    color: #E26C2D;
}

.dessert {
    fill: #F6839C;
    color: #F6839C
}

.compound {
    fill: #764248;
    color: #764248;
}

.header-line-1 {
    text-transform: capitalize;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 14pt;
}

.header-line-2 {
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    font-size: 10pt;
}

table {
    position: relative;
    width: 1020px;
    /* background-color: #aaa; */
    background-color: white;
    overflow: hidden;
    border-collapse: collapse;
  }
  
  
  /*thead*/
  thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    width: 1012px;
    overflow-y: visible;
    overflow-x: hidden;
  }
  
  thead th {
    background-color: #99a;
    min-width: 130px;
    height: 32px;
    /* border: 1px solid #222; */
    border: 1px solid rgb(235, 235, 235);
    cursor: pointer;
  }

  .header-row {
    /* background-color: #99a; */
    /* background-color: rgb(213, 213, 226); */
    background-color: white;
    min-width: 130px;
    height: 32px;
    border: 1px solid rgb(235, 235, 235);
    /* font-weight: bold; */
    cursor: pointer;
  }
  
  thead th:nth-child(1) {/*first cell in the header*/
    position: relative;
    /* display: block; seperates the first cell in the header from the header */
    background-color: #88b;
    
  }
  
  /*tbody*/
  tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    width: 1012px;
    height: 850px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  tbody th {
    /* background-color: #bbc; */
    background-color: white;
    min-width: 130px;
    /* border: 1px solid #222; */
    border: 1px solid rgb(235, 235, 235);
  }

  tbody td {
    /* background-color: #bbc; */
    background-color: white;
    min-width: 130px;
    max-width: 130px;
    /* border: 1px solid #222; */
    border: 1px solid rgb(235, 235, 235);
  }

  #food-title-header {
    position: relative;
    /* display: block; seperates the first cell in the header from the header */
    /* background-color: #88b; */
    background-color: white;
    min-height: 43px;
    min-width: 200px;
    margin: 0px;
    /* padding: 0px; */
  }

  .food-title-cell {
    /* position: relative; */
    /* display: block; seperates the first column from the tbody */
    height: 63px;
    min-width: 199px;
    max-width: 199px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(213, 213, 226); */
    background-color: white;
  }

  .cell {
      text-align: center;
      text-overflow: ellipsis;
      height: 60px;
  }

  .donut-label {
      font-size: 10pt;
  }

  .header-cell-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      /* height: 43px; */
  }

  .hidden {
      display: none;
  }

ul {
    list-style-type: none;
    /* width: 100%; */
    margin: 0px;
    padding: 10px;
}

#menu-headers-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* font-weight: bold; */
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.food-list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* width: 100% */
    padding-top: 5px;
    padding-bottom: 5px;
}

.food-list-item-left-container {
    display: flex;
    flex-flow: row nowrap;
}

.food-serving-size {
    font-size: 10pt;
    font-weight: normal;
    text-align: left;
}

.food-title-text {
    margin: 0px;
    text-align: left;
}

.food-title-text-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding-left: 15px;
}
.food-title-image {
    margin-left: 10px;
}